

<div class="" id="classifieds">
    <h1>Shoperific </h1>
    <p>Buy   Sell   Rent  </p>
    <div style="margin:1px ;box-shadow: 5px 5px 5px grey  ; padding-top: 20px;">


        <div class="container" style="margin-left: 1px;">
            <h3>Tabs</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#rent">Rent</a></li>
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>

            </ul>
            <br>
            <p><strong>Note:</strong>done.</p>
        </div>
        <div class="active in" id="rent">
            <img src="http://www.mascotdesigngallery.com/wp/wp-content/uploads/2014/12/vectorcharacters1.jpg" style="height:50px;width:50px">
            <a>Rahul</a>        <p>Need a flatmate for 2bhk in Nagawara. <br />Rent(including wifi and eb) : approx 8k <br /> </p>
        </div>


    </div>
</div>     
