

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Share a ride", "ShareARide", "ShareARide")</li>
    @*<li id="sr"><a href="#sharearide" data-toggle="pill">Share a ride</a></li>*@
    @*<li><a href="#classifieds" data-toggle="pill">Shoperific</a></li>*@
    <li>@Html.ActionLink("Shoperific", "Shoperific", "Shoperific")</li>
    <li><a href="#events" data-toggle="pill">Events</a></li>
    <li><a href="#complaints" data-toggle="pill">Secursolve </a></li>
    <li><a href="#studygroups" data-toggle="pill">ServIQ</a></li>
    <li><a href="#achivements" data-toggle="pill">Achivements</a></li>
    <li><a href="#knowitAll" data-toggle="pill">KnowItAll</a></li>
</ul>