


<div class="" id="sharearide">
    <div class="row" style="float: right;margin-right: 60px;">
        <h3>Saviours</h3>
        <div class="col-md-5"><p>1:Rahul</p><p>2:Jack</p><p>3:Rajat</p></div>
        <div class="col-md-2" style="background-color:aqua ;width:30px;height:80px; border:1px solid "> 15 </div>
        <div class="col-md-2" style="background-color:aqua ;width:30px;height:60px; margin-top: 20px; border:1px solid "> 12</div>
        <div class="col-md-2" style="background-color:aqua ;width:30px;height:40px; margin-top: 40px; border:1px solid "> 7</div>
    </div>

    <div class="row" style="width: 600px;padding-top: 17px;">
        <div class="col-md-5">
            <h1>Share a ride</h1>
            <p>Save fuel, save Earth!</p>
        </div>
        <div class="col-md-6">
            <img src="https://www.greencar.ngo/images/benefitsofgreencar.jpg" style="height:150px;width:150px">
        </div>
    </div>


    <div style="margin:1px ;box-shadow: 5px 5px 5px grey  ; padding-top: 65px;">
        <img src="http://www.mascotdesigngallery.com/wp/wp-content/uploads/2014/12/vectorcharacters1.jpg" style="height:50px;width:50px">
        <a>Rahul</a>        <p>I stay in Marathalli and usually leave office by 6pm. Anyone intrested in sharing a ride?</p>


        <div id="comments" style="margin:1px ;box-shadow: 5px 5px 5px rgb(224, 218, 218)    ; padding-top: 20px; ">
            <h3>Comments</h3>
            <a>Jack</a><input style="background-color: ghostwhite; margin-left:5px" type="text" value="Comment">
        </div>

    </div>

</div>
